# AWS Configuration
AWS_REGION=us-east-1
API_GATEWAY_URL=https://d2cmk7v4tl.execute-api.us-east-1.amazonaws.com
DYNAMODB_TABLE_NAME=users-dev-dce29561
S3_BUCKET_NAME=static-content-dev-dce29561
AWS_ACCOUNT_ID=160071257600
TERRAFORM_EXECUTION_ROLE_NAME=iac-github-actions-role-sg-dev

# Terraform Configuration
TF_VAR_environment=dev
TF_VAR_aws_region=us-east-1

# API Gateway URL (will be set automatically after deployment)
API_GATEWAY_URL=https://your-api-gateway-url.execute-api.us-east-1.amazonaws.com 